
  <%- include('template/header') %>
<main>
  <div class="banner">
    <div class="banner_img"></div>
    <div class="blog_info">
      <h2 class="blog_title">鹹酥雞聯盟</h2>
      <p class="blog_welcome">台灣美食應有盡有，凡舉「大腸包小腸、肉圓、豬血糕」等等，說到宵夜的選項更是不勝枚舉，而「 鹹酥雞 」則是大人小孩都喜愛的台灣美食，這個部落格是記錄全台各地的鹹酥雞</p>
    </div>
  </div>
  <div class="post_form_area">
    <h2 class="form_title">新增文章類別</h2>
    <h2 class="warming"><%= errorMessage||infoMessage %><h2>
    <form action="/system/add-category" method="POST" class="post_form">
      <div class="form_input">
        <div class="input_error warming">請輸入文章類別</div>
        <input type="text" name="type" placeholder="請輸入文章類別" class="required">
      </div>
      <input type="submit" value="submit" class="submit_btn" id="form_submit_btn">
    </form>
  </div>

</main>
<script src="../public/form.js"></script>

<%- include('template/footer')%>
