<%- include('template/header') %>

<main>
  
  <div class="wrapper_bg">
    <div class="lottery_area">
      <h2><% price.name %></h2>
      <p><% price.description%></p>
      <button class="event_btn btn">
        回上一頁
      </button>
    </div>
    <div class="prize_page hidden">
    </div>
  </div>
</main>
<%-include('template/footer')%>