<body>
<%- include('template/header') %>
  <main>
    <div class="login_form">
      <h2 class="form_title">Log in</h2>
      <h2 class="warming"><%= errorMessage %><h2>
      <form action="/login" method="POST" class="form_area">
        <div class="form_input">
          username：<br>
          <input type="text" name="username">
        </div>
        <div class="form_input">
          password：<br>
          <input type="password" name="password">
        </div>
        <input type="submit" value="submit" class=" submit_btn">
      </form>
    </div>
  </main>
  <%-include('template/footer')%>

</body>