<%- include('template/header') %>

<main>
  <button type="button" class="btn btn-outline-primary lottery_btn" href="/get-lottery">我要抽獎</button>

  <div class="wrapper_bg">
    <div class="lottery_area">
      <h2>2020 夏日輕盈特賞！ 抽獎活動辦法</h2>
      <div class="event_block">
        <h3 class="event_title">活動期間</h3>
        <p class="event_desc">2020/06/01~2020/07/01</p>
      </div>
      <div class="event_block">
        <h3 class="event_title">活動說明</h3>
        <p class="event_desc">今天老闆佛心來著決定給大家發獎勵，有看有機會，沒看只能幫QQ！只要在店內消費滿1000000元即有機會獲得 - 頭獎日本東京來回雙人遊！</p>
      </div>
      <div class="event_block">
        <h3 class="event_title">獎品</h3>
        <p class="event_desc">
          ❤ 頭獎一名：日本東京來回雙人遊(市價14990元)<br>
          ❤ 貳獎三名：90 吋電視一台(市價5990元)<br>
          ❤ 參獎十名：知名 YouTuber 簽名握手會入場券一張(市價1500元)</p>
      </div>
      <button class="event_btn btn">
        我要抽獎
      </button>
    </div>
    <div class="prize_page hidden">
      <button class="return_btn btn">我要抽獎</button>
    </div>
  </div>
</main>
<%-include('template/footer')%>
