<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>鹹酥雞聯盟</title>
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/public/css/reset.css">
  <link type="text/css" rel="stylesheet" href="/public/css/style.css">
  <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
</head>

<body>
  <header>
    <div class="header_area">
      <div class="header_left">
        <div class="home"><a href="/">鹹酥雞<span>聯盟</span></a></div>
        <ul class="navbar">
          <li><a href="/list">文章列表</a></li>
          <li><a href="/category">分類專區</a></li>
          <li><a href="/about-me">關於我</a></li>
        </ul>
      </div>
      <div class="header_right btn_group">
        <% if(!username){ %>
        <div class="login_btn btn"><a href="/login">登入</a></div>
        <% }else if(!isAtSystem){ %>
        <div class="system_btn btn"><a href="/system">管理後台</a></div>
        <div class="logout_btn btn"><a href="/logout">登出</a></div>
        <% }else{ %>
        <div class="system_btn btn"><a href="/system/add-post">新增文章</a></div>
        <div class="btn"><a href="/system/add-category">新增類別</a></div>
        <div class="logout_btn btn"><a href="/logout">登出</a></div>
        <% } %>
      </div>
    </div>
    </div>
  </header>